@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);





#menu-8 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8 .navbar-caption {
  color: #ffffff;
}
#menu-8 .navbar-toggler {
  color: #ffffff;
}
#menu-8 .close-icon::before,
#menu-8 .close-icon::after {
  background-color: #ffffff;
}
#menu-8 .link,
#menu-8 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-8 .link {
  font-size: 1.15rem;
}
#menu-8 .dropdown-item,
#menu-8 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-8 .link:hover,
#menu-8 .dropdown-item:hover,
#menu-8 .link:focus,
#menu-8 .dropdown-item:focus {
  color: #c0a375;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-menu {
  background: #000000;
}
#menu-8 .nav-dropdown-sm .link:focus,
#menu-8 .nav-dropdown-sm .link:hover,
#menu-8 .nav-dropdown-sm .dropdown-item:focus,
#menu-8 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-8 .navbar,
#menu-8 .nav-dropdown-sm,
#menu-8 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-8 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8 .bg-color.transparent.opened .link:hover,
#menu-8 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header1-0 .mbr-section-title {
  text-align: left;
}
#header1-0 .mbr-section-lead {
  font-size: 24px;
  text-align: left;
}
#msg-box5-44 P {
  text-align: left;
}
#msg-box5-44 H3 {
  text-align: left;
  font-size: 36px;
}
#header2-10 P {
  text-align: left;
}
#header2-10 H3 {
  text-align: left;
  font-size: 36px;
}
#form1-11 .btn {
  font-family: 'Roboto Condensed', sans-serif;
}
#form1-11 .mbr-section-title {
  font-size: 46px;
}
#form1-11 SMALL {
  text-align: center;
}
#form1-11 .form-control-label {
  color: #232323;
}
#contacts2-4 P {
  text-align: left;
}


#menu-8 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8 .navbar-caption {
  color: #ffffff;
}
#menu-8 .navbar-toggler {
  color: #ffffff;
}
#menu-8 .close-icon::before,
#menu-8 .close-icon::after {
  background-color: #ffffff;
}
#menu-8 .link,
#menu-8 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-8 .link {
  font-size: 1.15rem;
}
#menu-8 .dropdown-item,
#menu-8 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-8 .link:hover,
#menu-8 .dropdown-item:hover,
#menu-8 .link:focus,
#menu-8 .dropdown-item:focus {
  color: #c0a375;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-menu {
  background: #000000;
}
#menu-8 .nav-dropdown-sm .link:focus,
#menu-8 .nav-dropdown-sm .link:hover,
#menu-8 .nav-dropdown-sm .dropdown-item:focus,
#menu-8 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-8 .navbar,
#menu-8 .nav-dropdown-sm,
#menu-8 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-8 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8 .bg-color.transparent.opened .link:hover,
#menu-8 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#content5-24 .mbr-section-title,
#content5-24 p {
  color: #fff;
}
#content5-24 P {
  text-align: left;
  font-size: 21px;
  font-family: 'Roboto Slab', serif;
}
#features3-19 P {
  text-align: center;
}
#contacts2-9 P {
  text-align: left;
}


#menu-12 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-12 .navbar-caption {
  color: #ffffff;
}
#menu-12 .navbar-toggler {
  color: #ffffff;
}
#menu-12 .close-icon::before,
#menu-12 .close-icon::after {
  background-color: #ffffff;
}
#menu-12 .link,
#menu-12 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-12 .link {
  font-size: 1.15rem;
}
#menu-12 .dropdown-item,
#menu-12 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-12 .link:hover,
#menu-12 .dropdown-item:hover,
#menu-12 .link:focus,
#menu-12 .dropdown-item:focus {
  color: #c0a375;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-menu {
  background: #000000;
}
#menu-12 .nav-dropdown-sm .link:focus,
#menu-12 .nav-dropdown-sm .link:hover,
#menu-12 .nav-dropdown-sm .dropdown-item:focus,
#menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-12 .navbar,
#menu-12 .nav-dropdown-sm,
#menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-12 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-12 .bg-color.transparent.opened .link:hover,
#menu-12 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#slider-14 H2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 80px;
}
#slider-14 .btn {
  font-size: 24px;
}
#slider-14 P {
  text-align: center;
}
#contacts2-13 P {
  text-align: left;
}

#content5-38 .mbr-section-title,
#content5-38 p {
  color: #fff;
}
#content5-38 DIV {
  color: #ffffff;
  font-size: 20px;
}
#header3-34 .mbr-section-title,
#header3-34 .mbr-section-subtitle {
  text-align: center;
}
#header3-34 H3 {
  font-size: 24px;
}
#contacts2-35 P {
  text-align: left;
}
#menu-37 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-37 .navbar-caption {
  color: #ffffff;
}
#menu-37 .navbar-toggler {
  color: #ffffff;
}
#menu-37 .close-icon::before,
#menu-37 .close-icon::after {
  background-color: #ffffff;
}
#menu-37 .link,
#menu-37 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-37 .link {
  font-size: 1.15rem;
}
#menu-37 .dropdown-item,
#menu-37 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-37 .link:hover,
#menu-37 .dropdown-item:hover,
#menu-37 .link:focus,
#menu-37 .dropdown-item:focus {
  color: #c0a375;
}
#menu-37 .link[aria-expanded="true"],
#menu-37 .dropdown-menu {
  background: #000000;
}
#menu-37 .nav-dropdown-sm .link:focus,
#menu-37 .nav-dropdown-sm .link:hover,
#menu-37 .nav-dropdown-sm .dropdown-item:focus,
#menu-37 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-37 .navbar,
#menu-37 .nav-dropdown-sm,
#menu-37 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-37 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-37 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-37 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-37 .bg-color.transparent.opened .link:hover,
#menu-37 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-37 .link[aria-expanded="true"],
#menu-37 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}


#msg-box8-26 .mbr-section-title,
#msg-box8-26 p {
  color: #fff;
}
#msg-box8-26 .lead P {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
#msg-box8-26 .mbr-section-title {
  font-size: 36px;
}
#news-msg-box3-0 .mbr-section-title,
#news-msg-box3-0 p {
  color: #000;
}
#news-msg-box3-0 .lead P {
  text-align: left;
}
#news-msg-box3-0 .mbr-section-title {
  font-size: 30px;
}
#news-msg-box3-0 .mbr-section-title SPAN {
  font-size: 20px;
  color: #2d3240;
}
#contacts2-29 P {
  text-align: left;
}
#menu-31 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-31 .navbar-caption {
  color: #ffffff;
}
#menu-31 .navbar-toggler {
  color: #ffffff;
}
#menu-31 .close-icon::before,
#menu-31 .close-icon::after {
  background-color: #ffffff;
}
#menu-31 .link,
#menu-31 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-31 .link {
  font-size: 1.15rem;
}
#menu-31 .dropdown-item,
#menu-31 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-31 .link:hover,
#menu-31 .dropdown-item:hover,
#menu-31 .link:focus,
#menu-31 .dropdown-item:focus {
  color: #c0a375;
}
#menu-31 .link[aria-expanded="true"],
#menu-31 .dropdown-menu {
  background: #000000;
}
#menu-31 .nav-dropdown-sm .link:focus,
#menu-31 .nav-dropdown-sm .link:hover,
#menu-31 .nav-dropdown-sm .dropdown-item:focus,
#menu-31 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-31 .navbar,
#menu-31 .nav-dropdown-sm,
#menu-31 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-31 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-31 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-31 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-31 .bg-color.transparent.opened .link:hover,
#menu-31 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-31 .link[aria-expanded="true"],
#menu-31 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
